
@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log in</title>
</head>
<body>
    <div>
        <h3>Log in</h3>
        <form method="post" action="">

            <table>
                <tr>
                    <td><p>Enter your name </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Enter your password :</p></td>
                    <td>
                        <input type="password" name="Password" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Log in" /> </td><td></td></tr>
               
            </table>
        </form>
    </div>
</body>
</html>



