
@{
    ViewData["Title"] = "Delete";

}

<h1>Are you sure?</h1>
@{ 
<a class="btn btn-danger" asp-controller="User" asp-action="DeleteSure" asp-route-id="@ViewBag.Id">Yes</a>
<a class="btn btn-success" asp-controller="User" asp-action="MyBooks">No</a>
 }

